/**
!/**/
!/.editorconfig
!/.gitattributes
!/.github/CODE_OF_CONDUCT.md
!/.github/workflows/builds.yml
!/.gitignore
!/.vscode/settings.json
!/LICENSE
!/LICENSE-APACHEv2
!/LICENSE-MIT
!/README.md
!/achan.nim
!/achan.nimble
!/achan/**/*.nim
!/examples/**/*.nim
!/examples/README.md
!/examples/config.nims
!/extras/build_examples.sh
!/extras/config.nims
!/extras/coverage.sh
!/extras/examples.sh
!/extras/lsp.nim
!/extras/project-mapping.el
!/tests/**/
!/tests/**/*.nim
!/tests/config.nims
